@import '../../../index.scss';

.button_component {
  .btn {
    cursor: pointer;
    background: rgb(2,0,36);
    background: linear-gradient(70deg, rgba(2,0,36,1) 0%, rgba(10,9,121,1) 38%, rgba(0,212,255,1) 100%);
    border: none;
    border-radius: 10px;
    color: $screenBackground;
    font-size: 20px;
    padding: 0.5em 1em;
  }
}