$primaryColor : rgb(33,72,170);
$screenBackground: rgb(241,245,248);
$primaryTextColor: rgb(45,55,72);

@font-face {
  font-family: "Roboto";
  color: $primaryTextColor !important;
  font-weight: 900;
  src: url(assets/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto";
  color: $primaryTextColor !important;
  font-weight: 700;
  src: url(assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto";
  color: $primaryTextColor !important;
  font-weight: 500;
  src: url(assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto";
  color: $primaryTextColor !important;
  font-weight: 400;
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  color: white !important;
  font-weight: 600;
  src: url(assets/fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto";
  color: $primaryTextColor !important;
  font-weight: 300;
  src: url(assets/fonts/Roboto/Roboto-Medium.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.h1 {
  font-size: 32px;
  font-weight: 800;
}

.h2 {
  font-size: 24px;
  font-weight: 700;
}

.h3 {
  font-size: 18.72px;
  font-weight: 700;
}

.h4 {
  font-size: 16px;
  font-weight: 600;
}

.h5 {
  font-size: 13.28px;
  font-weight: 600;
}

.h6 {
  font-size: 12px;
  font-weight: 600;
}

.p1 {
  font-size: 32px;
}

.p2 {
  font-size: 24px;
}

.p3 {
  font-size: 18.72px;
}

.p4 {
  font-size: 16px;
}

.p5 {
  font-size: 14px;
}

.p6 {
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
